.calc {
  position: relative;
  z-index: 10;
  padding: 41px 60px;
  background: #FFFFFF;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 63%;
    flex-basis: 63%;
    padding-right: 35px;
    border-right: 2px dotted #C4C4C4;;
  }
  &__right {
    width: 33%;
    flex-basis: 33%;
  }
  &__result {
    margin-bottom: 14px;
    li {
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      color: #000;
      span {
        display: inline-block;
        margin-left: auto;
      }
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 34px;
    color: #FFA800;
  }
  &__sum {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
  &__btn {
    display: block;
    padding: 18px;
    width: 100%;
    text-align: center;
  }
}


.range {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  .irs--round::before,
  .irs--round::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 16px;
    width: 1px;
    background-color: #C4C4C4;
  }
  .irs--round::before {
    left: 2px;
  }
  .irs--round::after {
    right: 2px;
  }
  .irs--round .irs-bar {
    top: 24px;
    height: 4px;
    background-color: #FFD600;
  }
  .irs--round .irs-line {
    top: 24px;
    height: 4px;
    background-color: #C4C4C4;
  }
  .irs--round .irs-handle {
    top: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #FFA800;
    &:hover,
    &:active {
      background-color: #e3a42a;
      -webkit-box-shadow: 0 0 15px #FFA800;
      box-shadow: 0 0 15px #FFA800;
    }
  }
  .irs--round .irs-single {
    margin-top: 5px;
    padding: 10px 14px;
    background-color: #FFD600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25.3333px;
    color: #584A00;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    z-index: 10;
    &::before {
      content: none;
    }
  }
  &__caption {
    color: #000;
    &_big {
      font-size: 20px;
      line-height: 23px;
    }
    &_sm {
      font-weight: 700;
      line-height: 19px;
    }
  }
  &__subtitle {
    line-height: 19px;
    color: #A5A5A5;
  }
  &__wr {
    margin-top: 7px;
  }
}
