.hero {
  position: relative;
  padding: 70px 0;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  &__title {
    color: #fff;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 64px;
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    color: #fff;
  }
}



.how {
  padding: 52px 0 60px;
  background-color: #F7F7F7;
  &__title {
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 38px;
    margin-bottom: 62px;
    @include r(768) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 1 33%;
    @include r(960) {
      flex-basis: 30%;
    }
    @include r(768) {
      flex-basis: 100%;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 22px;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    border-radius: 5px;
    @include r(1024) {
      gap: 0;
    }
  }
  &__icon {
    margin-left: -15px;
  }
  &__caption {
    font-weight: 300;
    font-size: 28px;
    line-height: 45px;
    color: #1C1C1C;
    @include r(1200) {
      font-size: 22px;
    }
  }
  &__description {
    padding-left: 120px;
    padding-right: 64px;
    font-size: 20px;
    line-height: 30px;
    color: #545454;
    @include r(1200) {
      padding-left: 30px;
    }
    @include r(1200) {
      padding: 0;
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    padding: 18px 97px;
    border: 1px solid #563900;
    width: max-content;
    &:hover {
      border-color: #fff;
    }
    @include r(480) {
      max-width: 100%;
      padding: 18px 30px;
    }
  }
}

.advantages {
  padding: 80px 0 0;
  background-color: #fff;
  .container {
    position: relative;
    @include r(1024) {
      padding-bottom: 50px;
    }
    &::before {
      content: '';
      position: absolute;
      left: -130px;
      bottom: 0;
      width: 678px;
      height: 632px;
      background-image: url('../img/adv-bg-2.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: contain;
    }
  }
  @include r(960) {
    padding-bottom: 80px;
  }
  &__title {
    color: #1C1C1C;
  }
  &__subtitle {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 28px;
    line-height: 45px;
    color: #1C1C1C;
  }

  &__item {
    gap: 58px;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    @include r(576) {
      gap: 0;
      flex-wrap: wrap;
    }
  }
  &__icon {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    background-color: #FFA800;
    border-radius: 10px;
  }
  &__caption {
    color: #1C1C1C;
    margin-bottom: 10px;
  }
  &__description {
    font-size: 20px;
    line-height: 30px;
    color: #545454;
    @include r(960) {
      font-weight: 300;
      color: rgba(255,255,255,0.7);
    }
  }
  &__img {
    @include r(1024) {
      position: absolute;
      left: 0;
      bottom: -50px;
    }
    @include r(960) {
      display: none;
    }
  }
}

//feeddback
.feedback {
  padding: 60px 0;
  background-color: #FFD600;
  background-image: url('../img/feed-bg.png');
  background-repeat: no-repeat;
  &__title {
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 48px;
    font-weight: 300;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #1C1C1C;
  }
  &__form {
    margin: 0 auto;
    padding: 40px;
    width: 600px;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  &__input {
    margin-right: 20px;
    padding: 11px 10px 11px 20px;
    font-size: 18px;
    line-height: 21px;
    width: 300px;
    color: #A5A5A5;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    &::placeholder {
      font-size: 18px;
      line-height: 21px;
      color: #A5A5A5;
    }
  }
  &__btn {
    padding: 13px 72px;
  }
  &__personal {
    line-height: 38px;
    text-align: center;
    color: #545454;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

//contacts
.contacts {
  padding: 53px 0 70px;
  background-color: #fff;
  &__title {
    margin-bottom: 60px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 0 60px;
    width: 100%;
  }
  &__item {
    gap: 20px;
    align-items: center;
  }
  &__icon {
    width: 23px;
    height: 23px;
  }
  &__link {
    font-size: 20px;
    line-height: 45px;
    color: #000;
  }
}
